* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #152B73;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: right;
  background-color: #2247BF;
  background-image: url("../img/LOGO.png");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 80px;
  box-shadow: 0 0 1.1em #000000;
  display: flex;
  z-index: 1;
}
header svg {
  margin: auto 20px;
  cursor: pointer;
}
header a {
  text-decoration: none;
  font-size: 3rem;
  color: #f7f7f7;
  margin-bottom: 15px;
}

.headerCont {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 80px;
  justify-content: center;
  background-color: rgba(1, 5, 40, 0.8392156863);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: none;
}
.headerCont nav {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.headerCont nav ul {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerCont nav li {
  width: 310px;
  padding-bottom: 8px;
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #003680;
}
.headerCont nav div {
  display: flex;
  justify-content: space-between;
}
.headerCont i:hover {
  color: #013781;
}

.active {
  display: flex;
  animation: right 0.3s ease-in;
}

main {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  top: 80px;
}

.home {
  height: 570px;
  display: flex;
  margin: auto;
  padding: 160px 0;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 730px) {
  .home {
    height: -moz-max-content;
    height: max-content;
  }
}
.home .homeCont {
  width: 1100px;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.home .homeCont h1 {
  max-width: 900px;
  height: -moz-max-content;
  height: max-content;
  font-size: 3rem;
  color: #f7f7f7;
}
@media (max-width: 730px) {
  .home .homeCont h1 {
    font-size: 1.5rem;
  }
}
.home .homeCont h1 span {
  font-size: 7.375rem;
}
@media (max-width: 730px) {
  .home .homeCont h1 span {
    font-size: 3rem;
  }
}
.home .homeCont img {
  width: 297px;
  position: relative;
  animation: imgani 5s ease-in-out infinite;
  filter: drop-shadow(0 20px 1em rgba(0, 0, 0, 0.6588235294));
  align-self: flex-start;
  margin: 0 auto;
}
@media (max-width: 730px) {
  .home .homeCont img {
    display: none;
  }
}
.home .homeCont div:first-child {
  margin: auto;
}
.home .homeMidia {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 20px;
}
.home .homeMidia a {
  color: #f7f7f7;
}

@keyframes logoani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes imgani {
  0% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
.sobre {
  width: 100%;
  box-sizing: border-box;
}

.sobreCont {
  max-width: 1300px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  padding: 120px 0;
  margin: auto;
}
.sobreCont img {
  margin: 0 auto;
}
@media (max-width: 730px) {
  .sobreCont {
    max-width: 300px;
    padding: 50px 0;
  }
}
.sobreCont .textoF {
  max-width: 630px;
  height: -moz-max-content;
  height: max-content;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  margin: 0 auto;
}
.sobreCont .textoF img {
  margin: 0 auto;
}
@media (max-width: 730px) {
  .sobreCont .textoF {
    width: 300px;
    height: -moz-max-content;
    height: max-content;
    text-align: center;
  }
}
.sobreCont .textoF span {
  font-size: 2.5rem;
  text-align: start;
}
@media (max-width: 730px) {
  .sobreCont .textoF span {
    font-size: 2rem;
  }
}
.sobreCont .textoF span::after {
  width: 100px;
  height: 4px;
  display: block;
  content: "";
  background-color: #5C73BF;
  margin-top: 5px;
}
.sobreCont .textoF p {
  font-size: 1.5rem;
  line-height: 30px;
  text-align: start;
  margin-top: 35px;
}
.sobreCont .textoF button {
  width: -moz-max-content;
  width: max-content;
  border: none;
  background-color: #42538A;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.sobreCont .textoF button:hover {
  background-color: #2e4388;
}

.habilidades {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  background-color: #0B1840;
}
.habilidades .habiCont {
  max-width: 1300px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  margin: 0 auto;
}
.habilidades span {
  font-size: 2.8rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
}
.habilidades ul {
  max-width: 600px;
  list-style: none;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.habilidades li {
  background-color: #04174e;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  border-bottom: 4px solid #2247BF;
  transition: 0.25s;
}
.habilidades li:hover {
  scale: 1.1;
  transition: 0.25s;
}

.projetos {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 0;
}
.projetos strong {
  font-size: 2.5rem;
  color: #f7f7f7;
  margin: 0 auto;
}
.projetos .projetosCont {
  max-width: 1300px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 120px 0;
}
.projetos .projetosCont .projetosInfo {
  max-width: 430px;
  margin: 0 auto;
}
.projetos .projetosCont .projetosInfo span {
  font-size: 1.665rem;
  color: #f7f7f7;
  margin: auto;
}
.projetos .projetosCont .projetosDiv {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.projetos .projetosCont .projetosDiv span {
  width: -moz-max-content;
  width: max-content;
  font-size: 25px;
  color: #f7f7f7;
  padding-bottom: 10px;
  border-bottom: 5px solid #03588C;
  margin-bottom: 10px;
}
.projetos .projetosCont .todos {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.projetos .projetosCont .buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 730px) {
  .projetos .projetosCont .buttons {
    width: 300px;
    flex-direction: column;
    gap: 10px;
  }
}
.projetos .projetosCont .buttons button {
  font-size: 1.5rem;
  border: none;
  background-color: #2247BF;
  color: #f7f7f7;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
}
.projetos .projetosCont .buttons button:hover {
  background-color: #0732bd;
}
.projetos .projetosCont .buttons i {
  margin-right: 8px;
  background-color: #003680;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}
.projetos .projetosCont .projetosAll {
  max-width: 1300px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.projetoSlide {
  width: 400px;
  height: 234px;
  background-color: #42538A;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
}
.projetoSlide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 40%;
}
.projetoSlide .textoProjeto {
  width: 400px;
  height: 60px;
  background-color: #0B1840;
  opacity: 90%;
  position: absolute;
  transform: translateY(-62px);
  border-radius: 0 0 8px 8px;
  display: flex;
}
.projetoSlide .textoProjeto p {
  margin: auto;
  color: #ffffff;
  font-size: 1.3rem;
}

.projetoSlide:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.projeto {
  width: 100%;
  background-color: #050A1B;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 4;
  margin: auto;
}
.projeto img {
  width: 100%;
  height: 40%;
  display: block;
}
.projeto .gif {
  width: 100%;
  height: 370px;
}
.projeto .projetoCont {
  width: 80%;
  height: 599px;
  max-height: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projeto .projetoCont img {
  width: 230px;
  height: 230px;
  transform: translateY(-40px);
}
.projeto .projetoCont .infProjeto {
  transform: translateY(-40px);
}
.projeto .projetoCont .infProjeto p {
  font-size: 1.8rem;
}
.projeto .projetoCont .descProjeto {
  max-width: 800px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}
.projeto .projetoCont .descProjeto span {
  font-size: 3.25rem;
  margin-bottom: 34px;
}
.projeto .projetoCont .descProjeto p {
  font-size: 1.3rem;
}
.projeto .projetoCont .midiaProjeto ul {
  width: 100px;
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  gap: 10px;
  margin-top: 15px;
}
.projeto .projetoCont .midiaProjeto i {
  font-size: 1.5rem;
  color: #ffffff;
}
.projeto .projetoCont .tecProjeto {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}
.projeto .projetoCont .tecProjeto span {
  font-size: 2.4rem;
}
.projeto .projetoCont .tecProjeto ul {
  max-width: 280px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0 10px;
  list-style: none;
  margin-top: 30px;
}
.projeto .projetoCont .tecProjeto li {
  padding: 8px;
  margin: 4px;
  background-color: #142869;
  border-radius: 3px;
  height: -moz-min-content;
  height: min-content;
}
.projeto .projetoCont .tecProjeto i {
  font-size: 2.8rem;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #0B1840;
  display: flex;
  justify-content: center;
  position: relative;
  top: 80px;
}
@media (max-width: 730px) {
  footer {
    height: -moz-max-content;
    height: max-content;
  }
}
footer .footerCont {
  width: 1300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 730px) {
  footer .footerCont {
    height: 200px;
    flex-direction: column;
  }
}
footer .footerCont div {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 730px) {
  footer .footerCont div {
    width: -moz-max-content;
    width: max-content;
  }
}
footer .footerCont img {
  height: 80px;
}
@media (max-width: 730px) {
  footer .footerCont img {
    height: 50px;
  }
}
footer .footerCont span {
  font-size: 1.15rem;
  color: #f7f7f7;
}
footer .footerCont nav {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto 0;
}
footer .footerCont ul {
  width: 240px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
footer .footerCont ul a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #f7f7f7;
}
footer .footerCont .footerIcons {
  width: 130px;
}
footer .footerCont .footerIcons i {
  color: #f7f7f7;
  font-size: 1.4rem;
}
footer .footerCont .footerIcons i:hover {
  color: #03588C;
}
@media (max-width: 730px) {
  footer .footerCont div, footer nav:nth-child(n) {
    margin: auto;
  }
}

.hiden {
  display: none;
}

[data-window].animacao {
  opacity: 1;
  animation: windowAni 0.6s ease-in;
}

@keyframes windowAni {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.aniimg {
  animation: aniImg 0.3s ease-in;
}

@keyframes aniImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.iconHabilidades {
  position: relative;
  animation: iconH 2s ease-in-out;
}

@keyframes iconH {
  0% {
    top: 0;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
[data-window] {
  opacity: 0;
}

.fechar {
  width: 50px;
  position: absolute;
  right: 0;
  background-color: rgba(21, 43, 115, 0.5803921569);
  color: #ffffff;
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.point {
  width: 10px;
  height: 10px;
  background-color: #050A1B;
  border-radius: 50%;
}

.footerProjeto {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.288);
}

.divpess {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  margin: 0 auto;
}
.divpess p {
  font-size: 30px;
  color: #0F1528;
  margin: 0 5px;
  cursor: default;
}

.footerDivProjeto {
  width: 80%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 35px;
}

.seta {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
}
.seta i {
  cursor: pointer;
  font-size: 30px;
  color: #070f27;
}
.seta i:hover {
  color: #5C73BF;
}

.DivProjeto {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
}

.projetoClick {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.856);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
}
.projetoClick .cont {
  width: 1200px;
  height: -moz-max-content;
  height: max-content;
  background-color: #050A1B;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
}
.projetoClick .clickTexto {
  max-width: 600px;
  height: -moz-max-content;
  height: max-content;
  color: #f7f7f7;
  text-align: start;
}
.projetoClick .clickTexto strong {
  font-size: 3.5rem;
}
.projetoClick .clickTexto p {
  font-size: 1.1rem;
  margin-top: 20px;
}
.projetoClick .midiaCont {
  width: 500px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.projetoClick .midiaCont img {
  width: 100%;
  height: auto;
}
.projetoClick .linkCont {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
}
.projetoClick .linkCont a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #003680;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  margin: 5px 0;
}/*# sourceMappingURL=style.css.map */