@media (max-width:1200px){
   .home div{
       width: 782px;
   }

   .sobreContainer{
    width: 782px;
   }

   .sobreContainerTexto{
       width: 440px;
   }

   .projetosContainer{
    width: 782px;
}

   .projetoGeral{
       width: max-content;
       height: max-content;
       grid-template-columns: auto;
       margin: auto;
   }

   .conhecimentoContainer{
    width: 782px;
   }

   .contatosContainer{
    width: 782px;
}

   .footerContainer{
    width: 782px;
}
}

@media (max-width:800px){
    
    .home div{
        width: 579px;

    }

    .sobreContainer{
        width: 579px;
    }

    .sobreContainer p{
        font-size: 25px;
        text-align: center;
    }

    .sobreContainerTexto h2{
        text-align: center;
    }

    .sobreContainerAni{
        display: none;
    }

    .projetosContainer{
        width: 579px;
    }

    .conhecimentoContainer{
        width: 579px;
    }

    .footerContainer{
        width: 579px;
        font-size: 25px;
    }
}

@media (max-width:596px){
    .home div{
        width: 350px;
    }

    .home span{
        font-size: 90px;
    }

    .sobreContainer{
        width: 350px;
    }

    .projetosContainer{
        width: 350px;
    }

    .projetoBox{
        width: max-content;
        display: grid;
        transform: scale(0.9);
    }

    .conhecimentoContainer{
        width: 350px;
    }

    .conhecimentoContainer div:nth-child(1n){
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        gap: 15px;
    }

    .conhecimentoContainer i{
        border: 3px solid transparent;
    }

    .footerContainer{
        width: 350px;
    }

    .footerContainer div:nth-child(1){
        width: max-content;
    }

    .footerContainer div:nth-child(2){
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: center;
    }
}