
body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes contato-home{
    0%{
        background-color: cadetblue;
    }
    100%{
        border-radius: 10px;
    }
}

header{
    display: block;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #0a3357;
}

header i{
    font-size: 45px;
    color: #f7f7f7;
    margin-left: 30px;
    position: relative;
    top: -14.5px;
    cursor: pointer;
}

header img{
    height: 75px;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #0a335793;
    backdrop-filter: blur(20px);
    display: none;
    position: relative;
    top: -1px;
    transition: 0.2s;
    animation: ani 0.3s ease-in-out;
}

.active{
    display: block;
}

@keyframes ani{
    0%{
        transform: translate3d(-100%,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

.headerS-active a:active{
    color: #1C94FC;
}

.headerMobileS ul{
    width: min-content;
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: auto;
}

.headerMobileS li{
    margin-top: 50px;
}

.headerMobileS a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #f7f7f7;
    cursor: pointer;
    margin: auto;
    padding: 0;
}

.home{
    width: 100%;
    height: 850px;
    margin: 0 auto;
    cursor: default;
    background-image:  url(img/1.jpg) ;
    background-position: center;
}

.home div:nth-child(1){
    height: max-content;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.home h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #f7f7f7;
    margin: auto;
    max-width: 900px;
    text-align: center;
}

.home span{
    font-size: 150px;
    color: #e0e0e0;
}

.home span:hover{
    animation: spanAni 5s ease-in-out infinite;
}

@keyframes spanAni{
    0%{
        color: #e0e0e0;
    }
    50%{
        color: #05F2F2;
    }
    75%{
        color: #04BF9D;
    }
    100%{
        color: #e0e0e0;
    }
}

.sobre{
    width: 100%;
    height: max-content;
    background-color: #060D1D;
}

.sobreContainer{
    max-width: 1140px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 80px 0;
}

.sobreContainerAni{
    width: 300px;
    height: 300px;
    display: grid;
    position: relative;
    left: 90px;
    transform: rotateZ(0deg);
    grid-template-columns: auto auto;
    animation: sobreAni 30s ease infinite;
}

@keyframes sobreAni{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.sobreContainer i{
    font-size: 50px;
    color: #f7f7f7;
    animation: sobreAniI 30s ease infinite;
    transition: 1s;
}

@keyframes sobreAniI{
    0%{
        transform: rotateZ(0deg);
        
    }

    100%{
        transform: rotateZ(-360deg);
    }
}

.sobreContainerTexto{
    width: 600px;
    height: max-content;
     
}

.sobreContainerTexto h2{
    font-size: 35px;
    color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.sobreContainerTexto p{
    font-size: 28px;
    color: #f7f7f7;
}

.projetos{
    width: 100%;
    height: max-content;
    background-color: #060f25;
    padding: 80px 0;
}

.projetosContainer{
    width: 1140px;
    height: max-content;
    margin: auto;
    padding: 0;
}

.projetosContainer h2{
    font-size: 35px;
    color: #f7f7f7;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
}

.projetoBox{
    width: 500px;
    height: max-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #09183d;
    border-radius: 5px;
    box-shadow: 0 0 1.5em #080808a8;
    transition: 0.5s;
}

.projetoBox:hover{
    transition: 0.5s;
    transition-timing-function: ease;
    transform: scale(105%);
}

.projetoBox img{
    width: 230px;
    height: 175px;
    cursor: pointer;
}

.projetoBoxContainer{
    height: 175px;
    display: grid;
}

.projetoGeral{
    height: 500px;
    display: grid;
    grid-template-columns: auto auto;
}

.projetoBoxContainer h3{
    font-size: 25px;
    margin: 0;
    color: white;
}

.projetoBoxContainer p{
    margin: 0;
    font-size: 20px;
    color: #f7f7f7;
}

.projetoBoxContainer i{
    font-size: 50px;
    color: #03588C;
}

.projetoTecnologia{
    border-top: 3px solid #156EBD;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.conhecimento{
    width: 100%;
    height: max-content;
    background-color: #060D1D;
    margin: 0;
    padding: 80px 0;
}

.conhecimentoContainer{
    max-width: 1140px;
    height: max-content;
    margin: auto;
}

.conhecimentoContainer div:nth-child(1n){
    display: flex;
    justify-content: space-between;
}

.conhecimentoContainer h2{
    font-size: 35px;
    color: #f7f7f7;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
}

.conhecimentoContainer i{
    font-size: 80px;
    color: white;
    padding: 20px;
    border: 3px solid #0B1733;
    border-radius: 5px;
    transition: 0.5s;
}

.conhecimentoContainer i:hover{
    border: 3px solid #156EBD;
    transition: 0.5s;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #060D1D;
}

.footerContainer{
    border-top: 3px solid #0B1733;;
    max-width: 1140px;
    margin: auto;
    padding-top: 40px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.footerContainer div:nth-child(1){
    width: 500px;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.footerContainer span{
    margin: auto;
}

.footerContainer img{
    height: 60px;
}

.footerContainer div:nth-child(2){
    width: 200px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.footerContainer a{
    color: #f7f7f7;
}

.footerContainer a:hover{
    color: #1C94FC;
    cursor: pointer;
}

#conhecimentoText{
    width: 800px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    display: none;
}

#conhecimentoText p{
    font-size: 30px;
    color: white;

}


